p {
    font-size: 20px;
    color: blue;
}

input [type="text"]{
    background-color: blueviolet;
    color: white;
}

input [type="password"]{
    background-color: black;
    color: white;
    font-size: 20px;
}